/**
 * Support showing the entire adminstrative menu when lift tools are enabled
 */
body.lift #toolbar {
  margin-right: 20px; /* collapsed width of lift tools */
  padding-right: 0;
  -webkit-transition: margin 0.5s ease;
  -moz-transition: margin 0.5s ease;
  -o-transition: margin 0.5s ease;
  transition: margin 0.5s ease;
}

body.lift.lift-tools-active #toolbar {
  margin-right: 420px; /* expanded width of lift tools */
}
