.is-compact .el-card__header .el-card__title:before {
  content: url('../images/000000/menu-collapsed-rtl.png'); /* RTL */
  margin-right: .5em; /* RTL */
  right: -.5em; /* RTL */
}

.el-card__flag {
  margin-right: -1.599rem; /* RTL */
  margin-left: auto; /* RTL */
}
.el-card__flag__content::before {
  border-color: #90cd44 transparent #90cd44 #90cd44; /* RTL */
}
