/**
 * @file
 * Style elements that have specialized input features.
 */

/**************************************
 * Revealing input
 **************************************/
.acquia-lift-revealing-input .acquia-lift-revealer,
.acquia-lift-revealing-input input,
.acquia-lift-revealing-input .acquia-lift-reveal-value {
  float: left; /* LTR */
}

/* Show the edit icon for the revealer */
.acquia-lift-revealing-input .acquia-lift-revealer {
  display: block;
  background-size: 24px;
  width: 24px;
  height: 24px;
  background-image: url(../images/edit-toggle-inactive.png);
  text-indent: -9999px;
  overflow: hidden;
  margin-left: .5em; /* LTR */
}
.acquia-lift-revealing-input .acquia-lift-revealer,
.acquia-lift-revealing-input .acquia-lift-reveal-value {
  cursor: pointer;
  line-height: 24px;
}
