/* Acquia Lift options form administrative styles */
#edit-agent-basic-info-options-acquia-lift-decision-style .form-item-agent-basic-info-options-acquia-lift-decision-style {
    display: inline;
}
#edit-agent-basic-info-options-acquia-lift-decision-style .form-item-agent-basic-info-options-acquia-lift-decision-style label {
    margin-right: 10px;
}

.personalize-in-context-link:before {
    content: "+";
    display: inline-block;
    margin-right: .3em; /* LTR */
    font-size: 1.3em;
}

.acquia-lift-percentage-control .form-item {
  float: left;
  margin: 1em;
  width: 30%;
  min-width: 250px;
}
.acquia-lift-percentage-control .form-item label {
  display: inline;
}
.acquia-lift-percentage-control .form-item input {
  padding: 2px;
  margin: 0;
}
.acquia-lift-percentage-rest-label {
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.acquia-lift-percentage-rest-display {
  margin: 0 5px;
}
.acquia-lift-toggle-text {
  float: right;
  margin-left: 1em;
}

#personalize-acquia-lift-reset {
  display: inline;
}
