/* Ensure QTips are always on top */
.qtip {
  z-index: 9999;
}

/* DOM Selector */
.acquia-lift-dom-highlight {
  background: #666 !important;
  color: #fff !important;
  cursor: "pointer" !important;
  opacity: 0.6 !important;
}
