/**
 * @file
 * Styles for integrating Personalize with the Navbar module.
 */
/**
 * Personalize top-level icon.
 */
.navbar-bar .navbar-icon-acquia-lift:before {
  background-image: url("../images/bebebe/rocket.svg");
}

.no-svg .navbar-bar .navbar-icon-acquia-lift:before {
  background-image: url("../images/bebebe/rocket.png");
}

.navbar-bar .navbar-icon-acquia-lift:active:before, .navbar-bar .navbar-icon-acquia-lift.navbar-active:before {
  background-image: url("../images/ffffff/rocket.svg");
}

.no-svg .navbar-bar .navbar-icon-acquia-lift:active:before, .no-svg .navbar-bar .navbar-icon-acquia-lift.navbar-active:before {
  background-image: url("../images/ffffff/rocket.png");
}

/**
 * Personalize second-level icon.
 */
.navbar-box .navbar-icon-acquia-lift:before {
  background-image: url("../images/707070/rocket.svg");
}

.no-svg .navbar-box .navbar-icon-acquia-lift:before {
  background-image: url("../images/707070/rocket.png");
}

#navbar-administration .acquia-lift-active {
  font-weight: bold;
}
#navbar-administration .acquia-lift-active .acquia-lift-campaign {
  font-weight: bold;
}
#navbar-administration .acquia-lift-campaigns .navbar-box {
  display: inline-block;
  width: 100%;
}
#navbar-administration .navbar-tray-vertical .acquia-lift-campaigns .navbar-box .acquia-lift-campaign {
  margin-right: 0;
}
#navbar-administration.navbar-oriented .acquia-lift-campaign {
  padding-right: 0;
  /* LTR */
}

/* Menu wrapper container */
#navbar-administration .navbar-tray-vertical .navbar-twisty > .menu-wrapper {
  display: none;
}
#navbar-administration .navbar-tray-vertical .navbar-twisty.open > .menu-wrapper {
  display: block;
}

/* Horizontal dropdowns */
#navbar-administration .navbar-tray-acquia-lift.navbar-tray-horizontal .menu li:hover ul {
  display: block;
}
#navbar-administration .navbar-tray-acquia-lift.navbar-tray-horizontal .navbar-level-1 > ul, #navbar-administration .navbar-tray-acquia-lift.navbar-tray-horizontal .navbar-level-1 > .menu-wrapper {
  border-color: #dddddd;
  border-style: solid;
  border-width: 0 1px 1px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3333);
  margin-left: -1px;
  position: absolute;
  top: 100%;
}
#navbar-administration .navbar-tray-acquia-lift.navbar-tray-horizontal .acquia-lift-scrollable {
  max-height: 70vh;
  overflow-y: auto;
  padding-bottom: .3em;
}
#navbar-administration .navbar-tray-acquia-lift.navbar-tray-horizontal .menu ul ul {
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
}
#navbar-administration .navbar-tray-acquia-lift.navbar-tray-horizontal .navbar-level-1 li {
  float: none;
}
#navbar-administration .navbar-tray-acquia-lift.navbar-tray-horizontal .navbar-level-2 > ul, #navbar-administration .navbar-tray-acquia-lift.navbar-tray-horizontal .navbar-level-2 > * > ul {
  margin-left: 1em;
  /* LTR */
}
#navbar-administration .navbar-tray-acquia-lift.navbar-tray-horizontal .acquia-lift-personalize-type-count {
  display: inline-block;
}
#navbar-administration .navbar-tray-acquia-lift.navbar-tray-horizontal .acquia-lift-personalize-type-count span {
  background-color: #85A810;
  border-radius: 1em;
  color: white;
  padding: 0 0.35em;
  font-weight: bold;
}
#navbar-administration .navbar-tray-acquia-lift.navbar-tray-horizontal .acquia-lift-personalize-type-count.acquia-lift-empty span {
  background-color: gray;
}

/* Campaign drop-down */
#navbar-administration .navbar-tray-horizontal .acquia-lift-menu-item .acquia-lift-campaign {
  float: left;
}
#navbar-administration .navbar-tray-horizontal .acquia-lift-menu-item .acquia-lift-campaign-edit {
  float: right;
  margin-left: 1.667em;
}
#navbar-administration .navbar-tray-vertical .acquia-lift-active-container * {
  line-height: 1.3;
}
#navbar-administration .navbar-tray-vertical .acquia-lift-menu-item {
  margin-top: 0.65em;
  margin-bottom: 0.65em;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  line-height: 1.3;
}
#navbar-administration .navbar-tray-vertical .acquia-lift-menu-item a {
  display: block;
}

/* Page variation links */
#navbar-administration .navbar-tray-horizontal .acquia-lift-menu-item .acquia-lift-preview-option {
  float: left;
}
#navbar-administration .navbar-tray-horizontal .acquia-lift-menu-item .acquia-lift-variation-rename,
#navbar-administration .navbar-tray-horizontal .acquia-lift-menu-item .acquia-lift-goal-rename,
#navbar-administration .navbar-tray-horizontal .acquia-lift-menu-item .acquia-lift-variation-edit {
  float: right;
  margin-left: 1.667em;
}
#navbar-administration .navbar-tray-horizontal .acquia-lift-menu-item .acquia-lift-variation-delete,
#navbar-administration .navbar-tray-horizontal .acquia-lift-menu-item .acquia-lift-goal-delete {
  float: right;
  margin-left: .667em;
}

/* Displayed as links within menus */
#navbar-administration .navbar-tray .acquia-lift-menu-link, #navbar-administration .menu .menu a.acquia-lift-menu-link {
  color: #29aae1;
}
#navbar-administration .navbar-tray .acquia-lift-menu-link:hover, #navbar-administration .navbar-tray .acquia-lift-menu-link:active {
  color: #007ec0;
}
#navbar-administration .menu .menu a.acquia-lift-menu-link:hover, #navbar-administration .menu .menu a.acquia-lift-menu-link:active {
  color: #007ec0;
}

/* Create links */
#navbar-administration .navbar-tray-horizontal .acquia-lift-menu-create {
  border-top: 1px solid #ddd;
  padding: .2em 1.3333em 1em 1.3333em;
}
#navbar-administration .navbar-tray-horizontal .menu ul li.last {
  padding-top: .6em;
}
#navbar-administration .acquia-lift-menu-create:before {
  content: '+';
  font-weight: bold;
  font-size: 1.667em;
  padding-right: 0.2em;
  vertical-align: text-bottom;
}
#navbar-administration .navbar-tray-acquia-lift.navbar-tray-horizontal .menu ul ul:last-child {
  border-bottom: none;
}

/* General text */
#navbar-administration .navbar-tray .acquia-lift-menu-disabled {
  color: #c6c6c6;
}
#navbar-administration .navbar-tray a.acquia-lift-menu-disabled {
  pointer-events: none;
  cursor: default;
}
#navbar-administration .navbar-tray a.acquia-lift-menu-disabled:hover, #navbar-administration .navbar-tray a.acquia-lift-menu-disabled:active {
  color: #c6c6c6;
}

/* Nested menu uls for data grouping (rather than visual grouping) */
#navbar-administration .navbar-tray-acquia-lift.navbar-tray-horizontal .menu ul ul.innerMenuList {
  border: none;
  background-color: inherit;
  padding-top: 1em;
}
#navbar-administration .navbar-tray-acquia-lift.navbar-tray-horizontal .menu ul ul.innerMenuList .navbar-menu-item {
  padding: .5em 1.3333em .5em .2em;
}

/* Additional edit links are only available in horizontal view */
#navbar-administration .navbar-tray-vertical .acquia-lift-campaign-edit, #navbar-administration .navbar-tray-vertical .acquia-lift-variation-delete, #navbar-administration .navbar-tray-vertical .acquia-lift-variation-rename, #navbar-administration .navbar-tray-vertical .acquia-lift-goal-rename, #navbar-administration .navbar-tray-vertical .acquia-lift-goal-delete, #navbar-administration .navbar-tray-vertical .acquia-lift-page-variation-toggle {
  display: none !important;
}

/**
* Keep long names compact.
*/
#navbar-administration .navbar-tray-horizontal .acquia-lift-campaign-list,
#navbar-administration .navbar-tray-horizontal .acquia-lift-option-sets-list {
  padding-top: .9em;
  padding-bottom: .9em;
}
#navbar-administration .navbar-tray-horizontal .acquia-lift-campaign-list, #navbar-administration .navbar-tray-horizontal .acquia-lift-campaign-list span,
#navbar-administration .navbar-tray-horizontal .acquia-lift-option-sets-list,
#navbar-administration .navbar-tray-horizontal .acquia-lift-option-sets-list span {
  line-height: 1.2;
}
#navbar-administration .navbar-tray-horizontal .acquia-lift-option-sets-list .acquia-lift-personalize-type-count {
  position: relative;
  top: -.2em;
}
#navbar-administration .navbar-tray-horizontal .acquia-lift-active-container {
  position: relative;
  display: inline-block;
  max-width: 12em;
  word-wrap: normal;
  overflow-x: hidden;
}
#navbar-administration .navbar-tray-horizontal .acquia-lift-active-container::after {
  content: "\02026";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 12em;
  width: 2em;
  margin-left: -2em;
  text-align: right;
  font-weight: bold;
  background-image: -webkit-linear-gradient(180deg, #fff, #fff 1.1em, transparent 100%);
  background-image: linear-gradient(270deg, #fff, #fff 1.1em, transparent 100%);
  color: #999;
}
@media screen and (min-width: 1024px) {
  #navbar-administration .navbar-tray-horizontal .acquia-lift-active-container {
    max-width: 20em;
  }
  #navbar-administration .navbar-tray-horizontal .acquia-lift-active-container::after {
    left: 20em;
  }
}
@media screen and (min-width: 1366px) {
  #navbar-administration .navbar-tray-horizontal .acquia-lift-active-container {
    max-width: 30em;
  }
  #navbar-administration .navbar-tray-horizontal .acquia-lift-active-container::after {
    left: 30em;
  }
}
#navbar-administration .navbar-tray-horizontal .acquia-lift-active-container, #navbar-administration .navbar-tray-horizontal .acquia-lift-active-container * {
  white-space: pre;
}
