/* Personalization listing page */
#personalize-personalizations-list .acquia-lift-personalize-list-campaign .acquia-lift-campaign-title {
  background-image: url(../images/000000/menu-collapsed-rtl.png); /* LTR */
  padding-right: 15px; /* RTL */
}

#personalize-personalizations-list .acquia-lift-list-operations li {
  padding-left: 0.3em; /* RTL */
}

/* All variations lists */
ul.acquia-lift-variations-list ul {
  padding-right: 0;
  margin-right: 0;
}
