/* Acquia Lift options form administrative styles */
#edit-agent-basic-info-options-acquia-lift-decision-style .form-item-agent-basic-info-options-acquia-lift-decision-style {
    display: inline;
}
#edit-agent-basic-info-options-acquia-lift-decision-style .form-item-agent-basic-info-options-acquia-lift-decision-style label {
    margin-right: 10px;
}
/* added selector, decrerase-KO */
.personalize-in-context-link:before,
html.js div.ctools-dropdown a:before  {
  content: "+";
  font-weight: bold; /* added bold -KO */
  display: inline-block;
  margin-right: .2em;
  font-size: 1.6em;
}
/* only need margin-right to push sibling away, adjusted width, min width, added inline block and v align to  all form items and labels -KO */
.acquia-lift-percentage-control .form-item {
  float: left;
  margin-right: 1em;
  width: 20%;
  min-width: 200px;
  display: inline-block;
  vertical-align: middle;
}
.acquia-lift-percentage-control .form-item label {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  line-height: 2em; /* balances height of text field so the descriptions align to one another -KO */
}
.acquia-lift-percentage-control .form-item input {
  padding: 2px;
  margin: 0;
}
div.acquia-lift-percentage-rest { /* added selector -KO */
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}
.acquia-lift-percentage-rest-label {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  font-weight: bold;
  line-height: 2em; /* balances height of text field so the descriptions align to one another -KO */
}
.acquia-lift-percentage-rest-display {
  margin: 0 5px;
  vertical-align: middle; /* removes slight misalignment -KO */
}
.acquia-lift-toggle-text { /* removed float and margin because toggle was not discoverable -KO */
  display: inline-block;
  vertical-align: middle;
  line-height: 2em; /* aligns toggle to the form items -KO */
}

#personalize-acquia-lift-reset {
  display: inline;
}

/* Reports */
.acquia-lift-report-filters div {
  float: left;
  margin-right: 10px;
}

.acquia-lift-report-section {
  margin: 25px 0;
}

.acquia-lift-report-section-title h2 {
  display: inline-block;
  margin-right: .5em; /* LTR */
  margin-bottom: 0;
}

.acquia-lift-report-section-title .acquia-lift-report-controls {
  padding-bottom: 10px;
}

#acquia-lift-overview-report .form-wrapper > div {
  float: left;
  margin-right: 1.4em;
}
#acquia-lift-overview-report .acquia-lift-overview-item {
  font-size: 1.4em;
  font-weight: bold;
  min-height: 24px;
}

/* Reporting: positive/negative indicators. */
#acquia-lift-experiment-report .acquia-lift-report-negative,
#acquia-lift-context-report .acquia-lift-report-negative,
#acquia-lift-stability-report .acquia-lift-report-negative,
#acquia-lift-overview-report .acquia-lift-report-negative .acquia-lift-overview-item,
#acquia-lift-experiment-report .acquia-lift-report-positive,
#acquia-lift-context-report .acquia-lift-report-positive,
#acquia-lift-stability-report .acquia-lift-report-positive,
#acquia-lift-overview-report .acquia-lift-report-positive .acquia-lift-overview-item {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 18px;
  padding-left: 20px;
}
#acquia-lift-experiment-report .acquia-lift-report-positive,
#acquia-lift-context-report .acquia-lift-report-positive,
#acquia-lift-stability-report .acquia-lift-report-positive,
#acquia-lift-overview-report .acquia-lift-report-positive .acquia-lift-overview-item {
  background-image: url(../images/85b200/confirm.png);
  background-image: url(../images/85b200/confirm.svg), none;
}
#acquia-lift-experiment-report .acquia-lift-report-negative,
#acquia-lift-context-report .acquia-lift-report-negative,
#acquia-lift-stability-report .acquia-lift-report-negative,
#acquia-lift-overview-report .acquia-lift-report-negative .acquia-lift-overview-item {
  background-image: url(../images/FF8000/alert.png);
  background-image: url(../images/FF8000/alert.svg), none;
}
#acquia-lift-overview-report .acquia-lift-report-negative .acquia-lift-overview-item,
#acquia-lift-overview-report .acquia-lift-report-positive .acquia-lift-overview-item {
  background-position: left top;
}
#acquia-lift-overview-report .acquia-lift-report-positive .acquia-lift-overview-item {
  color: #85B200;
}
#acquia-lift-overview-report .acquia-lift-report-negative .acquia-lift-overview-item {
  color: #F7941F;
}

#acquia-lift-context-report td.acquia-lift-report-positive,
#acquia-lift-experiment-report-data td.acquia-lift-report-positive,
#acquia-lift-stability-report-data td.acquia-lift-report-positive {
  color: #85B200;
  font-weight: bold;
}

/* Reporting: content variation special indicators */
#acquia-lift-context-report td.acquia-lift-context-best .acquia-lift-best {
  background-image: url(../images/85b200/confirm.png);
  background-image: url(../images/85b200/confirm.svg), none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 18px;
  float: right;
  padding-right: 20px;
}

tr.acquia-lift-report-control {
  background-color: #FAFAEA;
}

/* Reporting: Report heading */
.acquia-lift-report-summary {
  font-style: italic;
}
/* Reporting: Distribution labels */
.acquia-lift-distribution {
  width: 350px;
  font-size: smaller;
}
.acquia-lift-distribution .distribution-set {
  float: left;
}
.acquia-lift-distribution .distribution-rest {
  float: right;
}
.acquia-lift-distribution .distribution-graphic {
  clear: both;
  width: 100%;
  height: .4em;
  background-color: #C961AF;
}
.acquia-lift-distribution .distribution-graphic .fill {
  height: 100%;
  background-color: #85B200;
}

#acquia-lift-experiment-report .acquia-lift-distribution .distribution-graphic {
  background-color: #999;
}
#acquia-lift-experiment-report .acquia-lift-distribution .distribution-rest {
  color: #999;
}
/* Reporting: Header summary */
.acquia-lift-report-header-summary {
  float: left;
}
/* Reporting: Context select */
.acquia-lift-report-controls {
  float: right;
}
.acquia-lift-report-controls .form-type-select label {
  margin: 0;
  display: inline;
}

/* Reporting: High-low goal value display */
.acquia-lift-hilo-estimate {
  width: 200px;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  height: 24px;
}
.acquia-lift-hilo-estimate .acquia-lift-hilo-background {
  background-color: #999;
  height: 1px;
  vertical-align: middle;
  position: relative;
  top: 12px;
}
.acquia-lift-hilo-estimate .acquia-lift-hilo-bounds {
  height: 5px;
  overflow: visible;
  background-color: #2FA6E5;
  position: relative;
  top: -2px;
  display: inline-block;
}
.acquia-lift-hilo-estimate .acquia-lift-estimate {
  width: 100%;
  text-align: center;
}
.acquia-lift-hilo-estimate .acquia-lift-badge {
  position: relative;
  background: white;
  display: inline-block;
  border-radius: 10px;
  border: 1px solid #2FA6E5;
  padding: 2px 4px;
  font-weight: bold;
}
.acquia-lift-hilo-estimate .acquia-lift-badge {
  top: -12px;
}

/* Reporting: Static bar graphs to show percentage */
.acquia-lift-graph-level-0,
.acquia-lift-graph-level-1,
.acquia-lift-graph-level-2,
.acquia-lift-graph-level-3,
.acquia-lift-graph-level-4,
.acquia-lift-graph-level-5 {
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 30px;
}
.acquia-lift-graph-level-0 {
  background-image: url('../images/graph-0.png');
}
.acquia-lift-graph-level-1 {
  background-image: url('../images/graph-1.png');
}
.acquia-lift-graph-level-2 {
  background-image: url('../images/graph-2.png');
}
.acquia-lift-graph-level-3 {
  background-image: url('../images/graph-3.png');
}
.acquia-lift-graph-level-4 {
  background-image: url('../images/graph-4.png');
}
.acquia-lift-graph-level-5 {
  background-image: url('../images/graph-5.png');
}

/* Acquia Lift configuration form */
.acquia-lift-config-minimum-runtime {
    clear: both;
    margin-bottom: .5em;
    width: 100%;
    display: inline-block;
}
.acquia-lift-config-minimum-runtime div.form-item {
    float: left;
    padding-top: 1px;
    padding-bottom: 5px;
    margin-bottom: 0px;
    padding-right: 10px;
}

.acquia-lift-config-minimum-runtime div.description {
    clear: both;
}

/* Acquia Lift campaign wizard form alterations */
#personalize-campaign-wizard .personalize-wizard-section .personalize-wizard-column {
  min-width: 520px;
  margin: .5rem;
}
.acquia-lift-delete {
  background-image: url(../images/000000/delete.png);
  background-repeat: no-repeat;
  background-position: 50%;
  width: 24px;
  height: 24px;
  text-indent: -9999px;
  overflow: hidden;
}
.acquia-lift-campaign-add .el-card .el-card__header {
  background-color: #0074BD;
  color: #FFF;
}
.acquia-lift-campaign-add .el-card .el-card__header h2 {
  color: #FFF;
  font-weight: bold;
}
.acquia-lift-campaign-add .el-card__title {
  display: block;
  width: 100%;
  font-weight: bold;
}
.acquia-lift-campaign-add .el-card .el-card__title:before,
.acquia-lift-campaign-add .el-card .el-card__title:after {
  display: inline-block;
  fill: #fff;
  width: 1.4rem;
  height: 1.4rem;
  line-height: 1em;
  vertical-align: text-bottom;
}
.acquia-lift-campaign-add .el-card .el-card__header .el-card__title[aria-controls]:before {
  content: url('../images/actions__add.svg');
}
.acquia-lift-campaign-add .el-card .el-card__title:after {
  content: url('../images/actions__close.svg');
  float: right;
  opacity: 0;
  -webkit-transition: opacity .2s;
          transition: opacity .2s;
}
.acquia-lift-campaign-add .el-card.is-active .el-card__title:after {
  opacity: 1;
}
.el-card__action .acquia-lift-delete {
  display: inline-block;
  padding-top: .37rem;
}
.el-card__action button.acquia-lift-delete {
  background-color: transparent;
  border: none;
  margin-top: .37rem;
  cursor: pointer;
}
.el-card__content fieldset.collapsible.collapsed {
  border: none;
}

.acquia-lift-informational .el-card .el-card__header {
  background-color: #8A8B8E;
  color: #FFF;
}
.acquia-lift-informational .el-card .el-card__header h2 {
  color: #FFF;
  font-weight: bold;
}


/* Radio list component */
.acquia-lift-radio-list {
  max-width: 1000px;
}
.acquia-lift-radio-list .acquia-lift-radio-list-item {
  border: 1px solid #CCC;
  padding: 1.4em;
  background-color: #F5F5F5;
  margin-bottom: 1.4em;
  cursor: pointer;
}
.acquia-lift-radio-list .acquia-lift-radio-list-item .acquia-lift-radio-list-item-image {
  float: left;
  width: 125px;
  padding-right: 1.4em;
  text-align: center;
}
.acquia-lift-radio-list .acquia-lift-radio-list-item .acquia-lift-radio-list-item-holder {
  float: left;
  max-width: 60%;
}
.acquia-lift-radio-list .acquia-lift-radio-list-item .acquia-lift-radio-list-item-holder .form-item label {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 0.4em;
  cursor: pointer;
}
.acquia-lift-radio-list .acquia-lift-radio-list-item .acquia-lift-radio-list-item-holder div.form-type-radio div.description {
  margin-left: 0;
}
.acquia-lift-radio-list .acquia-lift-radio-list-item .acquia-lift-radio-list-item-holder .form-item input[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* Base form */
.personalize-wizard-section #edit-agent-basic-info .acquia-lift-revealing-input {
  margin-bottom: 1em;
}

/* Base form */
.personalize-wizard-section #edit-agent-basic-info .acquia-lift-revealing-input {
  margin-bottom: 1em;
}

/* Process bar */
#personalize-campaign-wizard-process-bar {
  margin: 1em 0;
}

/* Variations form */
.personalize-wizard-section .acquia-lift-personalize-blocks .acquia-lift-revealing-input {
  float: left;
}
.personalize-wizard-section .acquia-lift-personalize-blocks .acquia-lift-delete {
  float: right;
  background-image: url(../images/000000/delete.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: transparent;
  width: 24px;
  height: 24px;
  text-indent: -9999px;
  overflow: hidden;
  border: none;
  cursor: pointer;
  margin-bottom: .5rem;
}

.personalize-wizard-section .acquia-lift-personalize-block-wrapper {
  clear: both;
  background-color: #e6e9ed;
  padding: .5em .5em 0 .5em;
  border: solid 1px #cfd1d5;
  border-radius: .5rem;
  margin-bottom: 1.5rem;
}
.personalize-wizard-section .acquia-lift-personalize-block-wrapper fieldset {
  border: none;
}

.personalize-wizard-section .form-item-variations-add-variation-details-element-content-url {
  display: inline-block;
}
.personalize-wizard-section .form-item-variations-add-variation-details-element-content-url + input[type="submit"] {
  display: inline-block;
}
#edit-variations .personalize-wizard-column > fieldset {
  border: none;
}

/* Targeting form */
.acquia-lift-targeting .personalize-target-wrapper .form-item,
.acquia-lift-targeting .personalize-target-wrapper .personalize-target-value,
.acquia-lift-targeting .personalize-target-wrapper .personalize-target-value div,
.acquia-lift-targeting .personalize-target-wrapper .form-item > *,
.acquia-lift-targeting .personalize-target-wrapper .acquia-lift-remove-context {
  display: inline;
}
.acquia-lift-targeting .personalize-target-wrapper .form-item label {
  display: none;
}

/* Edit checkbox in card header */
.el-card__action input[type="checkbox"].acquia-lift-edit {
  display: none;
}
.el-card__action input[type="checkbox"].acquia-lift-edit + label {
  height: 24px;
  width: 24px;
  display: inline-block;
  padding: 0;
  cursor: pointer;
  margin-top: .37rem
  /* Replace the text with an edit icon. */
  white-space: nowrap;
  overflow: hidden;
  text-indent: 999rem;
  background: url(../images/000000/edit.png) no-repeat;
}
.el-card__action input[type="checkbox"].acquia-lift-edit:checked + label {
  background-image: url(../images/0F93DE/edit.png);
}

/* Drag and Drop audience targeting */
li.acquia-lift-targeting-draggable {
  cursor: -webkit-grab;
  cursor: -moz-grab;
}
li.acquia-lift-targeting-draggable.ui-sortable-helper {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}
.acquia-lift-targeting-empty {
  border: 1px dotted #cfd1d5;
  padding: .6em 1em 1em 2em;
  max-width: 30em;
  height: 1em;
  margin: 1em 0;
  list-style: none;
}
.acquia-lift-targeting-empty.is-active {
  background-color: #FFFFCC;
}

.acquia-lift-sortable-placeholder-empty {
  height: 0;
}

.acquia-lift-draggable-variations {
  list-style-type: none;
  margin: 0;
}

.acquia-lift-draggable-variations.acquia-lift-no-drop {
  cursor: no-drop;
}
.acquia-lift-draggable-variations li.acquia-lift-targeting-draggable,
.acquia-lift-targeting-draggable {
  background: #E6E9ED url(../images/000000/drag.png) no-repeat;
  background-position: left center;
  border: 1px solid #cfd1d5;
  max-width: 30em;
  color: #000;
  padding: .6em 1em .6em 2em;
  margin: 1em 0;
  list-style-type: none;
}
.acquia-lift-targeting-draggable .acquia-lift-targeting-remove {
  float: right;
  display: inline-block;
  text-indent: -9999px;
  overflow: hidden;
  width: 20px;
  height: 20px;
}
.acquia-lift-targeting-draggable .acquia-lift-targeting-remove {
  background: transparent url(../images/000000/close.png) no-repeat;
}

/* Review */
#personalize-campaign-wizard .personalize-wizard-review-warnings li {
  list-style-type: none;
  background: transparent url(../images/FF8000/alert.png) no-repeat 0 50%;
  margin: 1em 1em 1em -15px;
  padding-left: 40px;
}

#personalize-campaign-wizard .acquia-lift-test-options fieldset {
  border: none;
}

/* Personalization listing page */
#personalize-personalizations-list table tr td {
  vertical-align: middle;
}
#personalize-personalizations-list table tr td form {
  margin: 0;
  padding: 0;
}
#personalize-personalizations-list table tr td form input{
  margin: 0;
}

#personalize-personalizations-list .acquia-lift-personalize-list-audience .acquia-lift-campaign-title {
  padding-left: 2em;
}

#personalize-personalizations-list .acquia-lift-personalize-list-campaign .acquia-lift-campaign-title {
  background-image: url(../images/000000/menu-collapsed.png); /* LTR */
  background-repeat: no-repeat;
  background-position: 5px 50%;
  padding-left: 15px; /* LTR */
  cursor: pointer;
}
#personalize-personalizations-list .acquia-lift-personalize-list-campaign .acquia-lift-campaign-title.acquia-lift-is-open {
  background-image: url(../images/000000/menu-expanded.png);
}
#personalize-personalizations-list .acquia-lift-list-operations li {
  list-style-type: none;
  display: inline;
  padding-right: 0.3em; /* LTR */
}

#personalize-personalizations-list .acquia-lift-delete,
#personalize-personalizations-list .acquia-lift-edit,
#personalize-personalizations-list .acquia-lift-report {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 20px;
  height: 20px;
  text-indent: -9999px;
  overflow: hidden;
}
#personalize-personalizations-list .acquia-lift-delete {
  background-image: url(../images/8A8B8E/delete.png);
}
#personalize-personalizations-list .acquia-lift-edit {
  background-image: url(../images/8A8B8E/edit.png);
}
/*#personalize-personalizations-list .acquia-lift-report {
  background-image: url(../images/000000/delete.png);
}*/
