/* Page variation edit toggle in unified navigation bar */
#navbar-administration a.acquia-lift-option-sets-list {
  display: inline-block;
  vertical-align: middle;
}
#navbar-administration a.acquia-lift-page-variation-toggle {
  display: inline-block !important;
  text-indent: -99999px;
  width: 30px;
  height: 30px;
  background: transparent url("../images/page-variation-toggle-inactive.png") no-repeat center;
  padding: 1em 1.3333em;
  cursor: pointer;
  vertical-align: middle;
}
#navbar-administration .acquia-lift-page-variation-toggle.acquia-lift-page-variation-toggle-disabled {
  background-image: url("../images/page-variation-toggle-disabled.png");
}
#navbar-administration .acquia-lift-page-variation-toggle.acquia-lift-page-variation-toggle-active {
  background-image: url("../images/page-variation-toggle-active.png");
}
