.el-card__gist:before, .el-card__summary:before, .el-card:before, .el-card__header:before, .el-card__content:before, .el-card__footer:before, .el-card__gist:after, .el-card__summary:after, .el-card:after, .el-card__header:after, .el-card__content:after, .el-card__footer:after {
  content: " ";
  display: table;
}
.el-card__gist:after, .el-card__summary:after, .el-card:after, .el-card__header:after, .el-card__content:after, .el-card__footer:after {
  clear: both;
}

/**
 * Provide general styles for cards.
 */
.el-card__gist, .el-card__summary, .el-card {
  border: 0.08rem solid #cccccc;
  box-shadow: 0 0.05rem 0 #cccccc;
  font-family: "Helvetica Neue", helvetica, "Segoe UI", segoe, "Ubuntu", "Droid Sans", "Arial", sans-serif;
  margin: .5rem;
  position: relative;
  top: 0;
}

.el-card__header {
  background-color: #e6e9ed;
  margin: 0;
  padding: 0 0.75rem;
}

.el-card__title {
  font-size: 1.125rem;
  line-height: 1.33333;
  margin-top: 0;
  padding-top: 0.37rem;
  margin-bottom: 0.63rem;
  float: left;
  font-weight: bold;
}

.el-card__content {
  padding: 0.5rem;
  background-color: #fff;
}

.el-card__footer {
  background-color: #eeeeee;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

ul.el-card__actions {
  float: right;
  left: -100%;
  margin: 0;
  margin-right: -100%;
  padding: 0;
  position: relative;
}

.el-card__action {
  display: inline-block;
}

.el-card__action a,
.el-card__action__link {
  display: inline-block;
}

/**
 * Add styles for different variations.
 */
/**
 * Add styles for different states.
 */
.el-card.is-compact {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.el-card.is-active {
  box-shadow: 0 0.2rem 0.5rem rgba(170, 170, 170, 0.6);
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

.is-compact .el-card__header {
  background-color: transparent;
  padding-top: 0;
  padding-bottom: 0;
}

.el-card .el-card__header .el-card__title[aria-controls] {
  cursor: pointer;
}
.el-card .el-card__header .el-card__title[aria-controls]:before {
  content: url('../images/000000/menu-collapsed.png'); /* LTR */
  position: relative;
  margin-left: .5em; /* LTR */
  left: -.5em; /* LTR */
  vertical-align: text-bottom;
}
.is-active .el-card__header .el-card__title[aria-controls]:before {
  content: url('../images/000000/menu-expanded.png');
}

.el-card:not(.is-active) .el-card__content {
  display: none;
}

.el-card:not(.is-sortable) .el-card__dragger {
  display: none;
}
.el-card .el-card__dragger {
  width: 24px;
  height: 24px;
  cursor: pointer;
  background: transparent url(../images/000000/drag.png) no-repeat;
  float: left;
  margin-top: .37rem;
  margin-left: -0.5rem;
}

.el-card.is-disabled .el-card__header {
  background-color: #e6e9ed;
  color: #999;
}
.el-card.is-disabled .el-card__content {
  opacity: 0.6;
}
