#acquia-lift-message-box {
  position: fixed;
  width: 70%;
  background-color: #FFF;
  padding: 10px;
  z-index: 200;
  margin: 0 auto;
  left: 0;
  right: 0;
}
#acquia-lift-message-box .close {
  float: right;
  cursor: pointer;
}
