#acquia-lift-message-box {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  position: fixed;
  width: 50%;
  padding: 1em 1em 2em 1em;
  z-index: 200;
  margin: 0 auto;
  left: 0;
  right: 0;
  background-color: #333;
  color: #CCC;
  font-family: 'Source Sans Pro', 'Lucida Grande', Verdana, sans-serif;
  font-size: 1em;
  box-shadow: 1px 2px 4px 1px #333;

}
#acquia-lift-message-box .close {
  float: right;
  cursor: pointer;
  background-image: url('../images/close_light.png');
  background-repeat: no-repeat;
  text-indent: -99999px;
  width: 12px;
  height: 12px;
}
#acquia-lift-message-box p {
  padding: 0;
  margin: 0;
}
