/* Element variation edit toggle in unified navigation bar */
#navbar-administration a.acquia-lift-option-sets-list {
  display: inline-block;
  vertical-align: middle;
}
#navbar-administration a.acquia-lift-element-variation-toggle {
  display: inline-block;
  text-indent: -99999px;
  width: 30px;
  height: 30px;
  background: transparent url("../images/edit-toggle-inactive.png") no-repeat center;
  padding: 1em 1.3333em;
  cursor: pointer;
  vertical-align: middle;
}
#navbar-administration a.acquia-lift-element-variation-toggle-hidden {
  display: none;
}
#navbar-administration .acquia-lift-element-variation-toggle.acquia-lift-element-variation-toggle-disabled {
  background-image: url("../images/edit-toggle-disabled.png");
}
#navbar-administration .acquia-lift-element-variation-toggle.acquia-lift-element-variation-toggle-active {
  background-image: url("../images/edit-toggle-active.png");
}
/* Ensure QTips are always on top */
.qtip {
  z-index: 9999;
}

/* DOM Selector */
.acquia-lift-dom-highlight {
  background: #666 !important;
  color: #fff !important;
  cursor: "pointer" !important;
  opacity: 0.6 !important;
}
