/* Styles specific to the unified navigation bar.
   Most styles for the navigation bar can be found in the "navbar" directory
   and are directly borrowed from the navbar module.

   Only styles that are specific to the Acquia Lift implementations should be
   included here.
 */

/* Secondary navbar links */
#navbar-administration .navbar-tray-horizontal .navbar-menu .navbar-level-1.acquia-lift-navbar-secondary,
#navbar-administration .navbar-tray-horizontal .navbar-menu .navbar-level-1:last-child.acquia-lift-navbar-secondary {
  float: left; /* RTL */
  border-left: none; /* RTL */
}
/* Make up for padding around navbar */
#navbar-administration .navbar-tray-horizontal .navbar-menu .navbar-level-1.acquia-lift-navbar-secondary {
  margin-left: -1.5em; /* RTL */
}
#navbar-administration .navbar-tray-horizontal .navbar-menu .navbar-level-1.acquia-lift-navbar-secondary + .acquia-lift-navbar-secondary {
  margin-left: 0; /* RTL */
}
#navbar-administration .navbar-tray-horizontal .menu .navbar-level-1.acquia-lift-navbar-marker,
#navbar-administration .navbar-tray-horizontal .navbar-menu .navbar-level-1.acquia-lift-navbar-marker{
  border-left: 1px solid #dddddd; /* RTL */
}
