/**
 * @file
 * Styles to display Acquia Lift controls used when navbar is not enabled.
 * These are based on the commons_origins theme css for the media-wrapper.
 * @see http://drupalcode.org/project/commons.git/blob/HEAD:/themes/commons/commons_origins/css/commons-media.css
 */

 .acquia-lift-controls-dialog {
   position: absolute;
   overflow: hidden;
   padding: 0;
   border: 1px solid #555555;
   min-width: 100%;
   max-width: 100%;
   -webkit-box-shadow: 0 0 0 0.5625em rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0 0 0 0.5625em rgba(0, 0, 0, 0.2);
   box-shadow: 0 0 0 0.5625em rgba(0, 0, 0, 0.2);
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
 }
 .acquia-lift-controls-dialog,
 .acquia-lift-controls-dialog .ui-corner-all {
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   -ms-border-radius: 0;
   -o-border-radius: 0;
   border-radius: 0;
 }
 .acquia-lift-controls-dialog .ui-dialog-title {
   display: block;
   margin: 0;
   line-height: 1em;
   font-size: 2em;
   font-family: "Helvetica Neue", "helvetica-neue", zurich, helvetica, "Arial", liberation Sans, sans-serif;
   font-weight: 200;
 }
 .acquia-lift-controls-dialog .ui-dialog-titlebar {
   position: relative;
   padding: 1em 0;
   border: none;
   color: #999;
   background: #303030;
   border: none;
 }
 .acquia-lift-controls-dialog .ui-dialog-titlebar-close {
   position: absolute;
   float: none;
   display: block;
   top: 0.35355em;
   right: 0.35355em;
   width: 1em;
   height: 1em;
   overflow: hidden;
   margin: 0;
   padding: 0;
   text-align: center;
   line-height: 1em;
   color: white;
   background: none;
   font-weight: normal;
 }
 .acquia-lift-controls-dialog .ui-dialog-titlebar-close:hover {
   text-decoration: none;
   border: none;
 }
 .acquia-lift-controls-dialog .ui-dialog-titlebar-close:before {
   content: "\2715";
 }
 .acquia-lift-controls-dialog .ui-dialog-content {
   position: relative;
   border: 0;
   background: none;
   overflow: auto;
   zoom: 1;
   padding: 0;
 }
 .acquia-lift-controls-dialog .ui-dialog-buttonpane {
   text-align: left;
   border: none;
   background-image: none;
   margin: .5em 0 0 0;
   padding: .3em 1em .5em .4em;
 }
 .acquia-lift-controls-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
   float: right;
 }
 .acquia-lift-controls-dialog .ui-dialog-buttonpane button {
   margin: .5em .4em .5em 0;
   cursor: pointer;
 }
 .acquia-lift-controls-dialog .ui-resizable-se {
   width: 14px;
   height: 14px;
   right: 3px;
   bottom: 3px;
 }
 .acquia-lift-controls-dialog .ui-draggable .ui-dialog-titlebar {
   cursor: move;
 }
 @media (min-width: 22.85714em) {
   .acquia-lift-controls-dialog {
     min-width: 0;
   }
 }
 @media (min-width: 28.57143em) {
   .acquia-lift-controls-dialog .ui-dialog-titlebar {
     padding-right: 1em;
     padding-left: 1em;
   }
 }

/* Accordion pane within controls dialog */
.ui-accordion .ui-accordion-header {
  margin: 0;
}
.ui-accordion .ui-accordion-icons {
  padding-left: 2.2rem;
}
.ui-accordion .ui-accordion-content {
  padding: 1em 2.2em;
  border: none;
  border-bottom: 1px solid #ddd;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  height: auto;
  font-family: "Helvetica Neue", "helvetica-neue", zurich, helvetica, "Arial", liberation Sans, sans-serif;
}
.acquia-lift-controls-dialog .ui-accordion-header,
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  font-family: "Helvetica Neue", "helvetica-neue", zurich, helvetica, "Arial", liberation Sans, sans-serif;
  font-size: 1.5em;
  color: #29aae1;
  font-weight: 300;
  background: none;
  border: none;
  border-bottom: 1px solid #ddd;
}
.acquia-lift-controls-dialog .ui-accordion-header a,
.ui-state-default a, .ui-widget-content .ui-state-default a, .ui-widget-header .ui-state-default a {
  color: #29aae1;
}
.acquia-lift-controls-dialog .acquia-lift-controls ul.menu li li {
  margin-left: 2.2em;
  line-height: 1.4em;
}
.acquia-lift-controls-dialog .acquia-lift-controls ul.menu > li > span {
  display: block;
}
.acquia-lift-controls-dialog .acquia-lift-controls ul.menu li ul.menu {
  padding-top: 1em;
  padding-bottom: 1em;
}
