/**
 * General styles for lift graph implementations.
 * ----------------------------------------------------------------------------
 */
.lift-statistic-category {
  -webkit-transition: opacity .4s, position .4s 0 step-start, width .4s 0 step-start, height .4s 0 step-start;
          transition: opacity .4s, position .4s 0 step-start, width .4s 0 step-start, height .4s 0 step-start;
}

.lift-switches .form-item {
  display: inline-block;
  margin-right: 1em;
}

.lift-statistic-category.active,
.lift-data-switch.active {
  visibility: visible;
  opacity: 1;
  width: auto;
  height: auto;
}
.lift-statistic-category.inactive,
.lift-data-switch.inactive {
  position: absolute;
  margin: 0;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  width: 0;
  height: 0;
}

.lift-graph {
  font-family: sans-serif;
}
.lift-graph * {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
.lift-graph-container {
  padding-right: 1em;
  padding-left: 3em;
  font-family: sans-serif;
}
.lift-graph-container .y-axis-label,
.lift-graph-container .tick text,
.lift-graph-container .tick line {
  color: #666;
  fill: #666;
  opacity: 1;
}
.lift-graph-container .x_ticks_d3 .tick text {
  fill: #666;
  stroke: transparent;
  stroke-width: 0;
}
.lift-graph-container .y_ticks > .tick:first-child {
  display: none;
}
.lift-graph-graph {
  float: left;
  width: 100%;
  height: 20em;
}
.lift-graph-graph .detail {
  width: .2em;
  margin-left: -.1em;
  background: rgba(221, 221, 221, 0.5);
}
.lift-graph-graph .detail .item {
  margin: 1.6em -1em;
  padding: .1em;
  font-size: 0.85714em;
  line-height: 1.3em;
  box-shadow: 0 0.2em 0 rgba(204, 204, 204, 0.6);
  -webkit-transition: left .1s ease, right .1s ease;
          transition: left .1s ease, right .1s ease;
}
.lift-graph-graph .detail .item.active {
  background: rgba(255, 255, 255, 0.8);
  color: #333;
  border: 0.1em solid #ccc;
  border-radius: .3em;
}
.lift-graph-graph .detail .item .swatch {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: .3em;
  border-radius: 50%;
}
.lift-graph-graph .detail .item:before, .lift-graph-graph .detail .item:after {
  display: block;
  content: " ";
  position: absolute;
  top: auto;
  right: 50%;
  width: 0;
  height: 0;
  overflow: hidden;
  border-style: solid;
  border-color: transparent;
}
.lift-graph-graph .detail .item:before {
  bottom: -1.5em;
  border-width: 0.7em;
  border-top-color: rgba(204, 204, 204, 0.6);
  margin-right: -1.6em;
}
.lift-graph-graph .detail .item:after {
  border-width: 0.5em;
  border-top-color: #fff;
  border-left-color: transparent;
  bottom: -1em;
  margin-right: -1.5em;
}
.lift-graph-graph .detail .item.left:before, .lift-graph-graph .detail .item.left:after {
  top: auto;
  right: auto;
  margin: 0;
}
.lift-graph-graph .detail .item.left:before {
  left: 0.3em;
}
.lift-graph-graph .detail .item.left:after {
  left: 0.5em;
  border-width: .5em;
  border-top-color: #fff;
  border-right-color: transparent;
}
.lift-graph-graph .detail .item.right:before, .lift-graph-graph .detail .item.right:after {
  top: auto;
  margin: 0;
}
.lift-graph-graph .detail .item.right:before {
  right: 0.3em;
}
.lift-graph-graph .detail .item.right:after {
  right: 0.5em;
  border-width: 0.5em;
  border-top-color: #fff;
  border-left-color: transparent;
}
.lift-graph-graph .detail .item.top:before, .lift-graph-graph .detail .item.top:after {
  bottom: auto;
  border-top-color: transparent;
}
.lift-graph-graph .detail .item.top:before {
  top: -1.2em;
  border-width: 0.6em;
  border-bottom-color: #ccc;
}
.lift-graph-graph .detail .item.top:after {
  top: -1em;
  border-bottom-color: #fff;
}
.lift-graph-graph .detail .dot {
  width: .5em;
  height: .5em;
  margin-top: -.35em;
  margin-left: -.35em;
  line-height: .5em;
  border-width: .2em;
  border-radius: 50%;
  box-shadow: none;
}
.lift-graph-axis-x {
  clear: both;
  width: 100%;
}
.lift-graph-axis-x .rickshaw_graph {
  max-width: 100%;
}
.lift-graph-axis-y {
  float: left;
  width: 3em;
  height: 20em;
  margin-left: -3em;
}
.lift-graph-legend {
  clear: both;
  background-color: transparent;
  color: #333;
}
.lift-graph-legend li {
  display: inline-block;
}
.lift-graph-legend .line .swatch {
  border-radius: 50%;
}
.lift-graph-detail {
  pointer-events: auto;
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
}
.lift-graph-detail-data {
  margin: 0;
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1em;
}
.inactive .lift-graph-detail {
  pointer-events: none;
}
.lift-graph-detail tbody,
.lift-graph-detail thead {
  border: none;
}
.lift-graph-detail th,
.lift-graph-detail td {
  padding: .2em .4em;
  text-align: left;
  background: none;
}
.lift-graph-detail th, .lift-graph-detail th:first-child, .lift-graph-detail th:last-child,
.lift-graph-detail td,
.lift-graph-detail td:first-child,
.lift-graph-detail td:last-child {
  border: none;
}
.lift-graph-detail th {
  text-transform: none;
}
.lift-graph-detail [style^="background-color"] {
  color: #fff;
  font-weight: normal;
  text-align: center;
}
.lift-graph-detail .active {
  background-color: #eee;
}
.lift-graph-result {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
}
.lift-graph-result-data {
  width: 100%;
  max-width: 100%;
  margin: 1.3em 0;
  border-color: #bbb;
  border-collapse: collapse;
  font-size: .88em;
}
.lift-graph-result th,
.lift-graph-result td {
  text-align: left;
}
.lift-graph-result th:last-child,
.lift-graph-result td:last-child {
  text-align: center;
}
.lift-graph-result .action {
  margin-right: .6em;
  cursor: pointer;
}
.lift-graph-result .swatch {
  display: inline-block;
  width: .9em;
  height: .9em;
  margin-right: .6em;
  border-radius: 50%;
}
.lift-graph-result .label {
  font-weight: bold;
}
.lift-graph-result .toggle-enabled .line {
  cursor: pointer;
}
.lift-graph-result .toggle-enabled .line.disabled .action {
  opacity: .4;
}
