/* Acquia Lift options form administrative styles */
#edit-agent-basic-info-options-acquia-lift-decision-style .form-item-agent-basic-info-options-acquia-lift-decision-style {
    display: inline;
}
#edit-agent-basic-info-options-acquia-lift-decision-style .form-item-agent-basic-info-options-acquia-lift-decision-style label {
    margin-right: 10px;
}

.personalize-in-context-link:before {
    content: "+";
    display: inline-block;
    margin-right: .3em; /* LTR */
    font-size: 1.3em;
}

.acquia-lift-percentage-control .form-item {
  float: left;
  margin: 1em;
  width: 30%;
  min-width: 250px;
}
.acquia-lift-percentage-control .form-item label {
  display: inline;
}
.acquia-lift-percentage-control .form-item input {
  padding: 2px;
  margin: 0;
}
.acquia-lift-percentage-rest-label {
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.acquia-lift-percentage-rest-display {
  margin: 0 5px;
}
.acquia-lift-toggle-text {
  float: right;
  margin-left: 1em;
}

#personalize-acquia-lift-reset {
  display: inline;
}

/* Reports */
.acquia-lift-report-filters div {
  float: left;
  margin-right: 10px;
}
.acquia-lift-report-filters div.form-item-date-filters {
  margin-top: 1.5em;
}

#acquia-lift-overview-report .form-wrapper > div {
  float: left;
  margin-right: 2em;
}
#acquia-lift-overview-report .acquia-lift-overview-item {
  font-size: larger;
  font-weight: bold;
}
#acquia-lift-overview-report .acquia-lift-report-positive .acquia-lift-overview-item {
  color: #85B200;
  background: transparent url('../images/85b200/confirm.png') no-repeat;
  background-size: 18px 18px;
  padding-left: 20px;
}
#acquia-lift-overview-report .acquia-lift-report-negative .acquia-lift-overview-item {
  color: #FF8000;
  background: transparent url('../images/FF8000/alert.png') no-repeat;
  padding-left: 20px;
}

#acquia-lift-confidence-report {
  margin: 25px 0;
}
