language: php
dist: trusty

php:
  - 7

addons:
  chrome: stable

cache:
  directories:
    - "$HOME/.composer/cache"
    - "$HOME/.drush/cache"

matrix:
  include:
    - name: "Static analysis"
      env: ORCA_FIXTURE=none
    - name: "Isolated test"
      env: ORCA_FIXTURE=sut-only
    - name: "Integrated test"
      env: ORCA_FIXTURE=standard
  allow_failures:
    - env: ORCA_FIXTURE=standard

install:
  - git clone --depth 1 https://github.com/acquia/orca.git ../orca
  - BUILD=`pwd`
  - cd ../orca
#  - git apply $BUILD/orca-lift.patch
  - cd $BUILD
  - "../orca/bin/travis/install 8.x-3.x"

script: "../orca/bin/travis/script drupal/acquia_lift"
