/**
 * Styles for Acquia Lift Profiles admin
 */

/* Link to Web Admin */
#navbar-administration .navbar-tray-horizontal .navbar-menu .navbar-level-1 + .navbar-level-1.acquia-lift-navbar-secondary.acquia-lift-navbar-secondary {
  float: left;
  border-left: none;
}
#navbar-administration .navbar-tray-horizontal .menu .navbar-level-1.acquia-lift-navbar-marker,
#navbar-administration .navbar-tray-horizontal .navbar-menu .navbar-level-1.acquia-lift-navbar-marker{
  border-left: 1px solid #dddddd; /* LTR */
}
